@import './_colors.scss';
@import './_fonts.scss';


.LF-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LF-form-container{
  width:85%;
  background-color: $grey;
  height: 600px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.LF-login-form{
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
}

.LF-title{
  font-size: 60px;
}
.LF-labels{
  font-size: 40px;
  margin-bottom: 30px;
}
.LF-input{
  font-size: 40px;
  margin-top:15px;
  margin-bottom:20px;
  width: 100%;
  border-radius: 10px;
}
.LF-login-button{
  margin-top: 20px;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
}

//
