@import 'styles/_colors.scss';

html{
  background-color: $dark;
}

.App {
  padding: 50px;
  font-family: 'Alegreya Sans', sans-serif;
}

.InlineError{
  color: white;
  background-color: #ae5856;
}
