@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';

.LBJtable-container{
  background-color: $dark-grey;
  border-radius: 10px;

  margin: auto;
  width: 85%;
  overflow: hidden;

  margin-top: 20px;
  margin-bottom: 20px;
}

.LBJtable{
  padding: 30px;
  text-align: center;
  width: 100%;
  font-size: 24px;
}





// end
