@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';


.LBJtable-header{
  font-family: 'Barlow', sans-serif;
  color: white;
  font-size: 50px;
  margin: 0px;
}
.LBJheader-container{
  margin: auto;
  width: 85%;
  overflow: hidden;
  display: flex;

  margin-top: 25px;
  margin-bottom: 10px;
}

.LBJtable-container{
  background-color: $grey;
  border-radius: 10px;

  margin: auto;
  width: 85%;
  overflow: hidden;

  margin-top: 20px;
  margin-bottom: 20px;
}

.LBJtable{
  text-align: center;
  width: 100%;
  font-size: 24px;
  table-layout: fixed;
}





// end
