@import 'styles/_colors.scss';
@import 'styles/_fonts.scss';


.LBPlayer{
  color:white;
  border-radius: 10px;
}

td {
  border-bottom: solid 3px #222629;
  padding: 20px;
}
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.LBP-main{
  text-align: left;
  position: relative;
}
.LBP-pname{
  font-size: 40px;
  margin-top:5px;
  margin-bottom:5px;
}
.LBP-rounds{
  display:flex;
  padding-left: 0px;
  margin-top:5px;
  margin-bottom: 5px;
}
.LBP-sg{
  display:flex;
  padding-left: 0px;
  margin-top:-5px;
  margin-bottom: 0px;
  padding-left: 10px;
  z-index: 2;
}
.LBP-strokes{
  list-style: none;
  margin: 0 15px;
}
.track-cell{
  width: 10%;
}
.LBP-eye{
  cursor: pointer;
  color: white;
}
.eye-selected{
  color:$primary;
}
.LBP-eye:hover{
  cursor: pointer;
  color:$primary;
}

.LBP-score{
  position:relative;
  vertical-align: middle;
}

.LBP-total{
  display: inline-table;
  height: 100px;
  width: 100px;
  background-color: $dark-grey;
  border-radius: 50%;
  margin: 0px 0px 0px 80px;
}
.LBP-pos{
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 25px;
  right: 60px;
  vertical-align: middle;
  line-height: 35px;
  background-color: $light-grey;
  border-radius: 50%;
}
.LBP-stext{
  display: inline-table;
  font-size: 40px;
  top:50%;
  bottom:50%;
  margin:0px;
  padding-top:20px;
}
.LBP-ptext{
  color:white;
  position: absolute;
  font-size: 20px;
  margin: 0px;
  background-color: $light-grey;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  bottom: 10%;
  right:30%;
  z-index: 2;
  line-height: 38px;
}


// end
